@{
    ViewData["Title"] = "Home";
}

@using FlightSearchProject.Models;

@model Flight


<div style="margin-top: 100px">
    <h1 class="ui header" style="text-align: center">Find a flight that suits your needs</h1>
    <br />
    <div class="ui two column divided grid">
        <div class="row">
            <div class="column">
                @Html.DropDownList("From", new SelectList(ViewBag.Airports), "Where are you currently?", new { @class = "ui huge fluid search selection icon dropdown" })
            </div>
            <div class="column">
                @Html.DropDownList("To", new SelectList(ViewBag.Airports), "Where are you heading?", new { @class = "ui huge fluid search selection icon dropdown" })
            </div>
        </div>
    </div>
    <div class="ui four column divided grid">
        <div class="row">
            <div class="column">
                @Html.DropDownList("Adults", new SelectList(new int[] { 1, 2, 3, 4, 5, 6, 7 }), "Adults", new { @class = "ui fluid icon dropdown" })
            </div>
            <div class="column">
                @Html.DropDownList("Children", new SelectList(new int[] { 1, 2, 3, 4, 5, 6, 7 }), "Children", new { @class = "ui fluid icon dropdown" })
            </div>
            <div class="column">
                @Html.DropDownList("Infants", new SelectList(new int[] { 1, 2, 3, 4, 5, 6, 7 }), "Infants", new { @class = "ui fluid icon dropdown" })
            </div>
            <div class="column">
                @Html.DropDownList("Class", new SelectList(Enum.GetValues(typeof(FlightClass))), "Economy", new { @class = "ui fluid search icon dropdown" })
            </div>
        </div>
    </div>
    <div class="ui three column divided grid">
        <div class="row">
            <div class="column"></div>
            <div class="column">
                <button class="fluid ui blue button">Search Flights</button>
            </div>
            <div class="column"></div>
        </div>
    </div>
</div>
